body{
  background-color: #708d81;
}
/* styling for main container*/
main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align:center;
  color: #001427;
  font-size: 16px;
  margin:auto;
  padding: 50px;
}
header, footer {
  text-align:center;
  background-color: #bf0603;
  padding: 25px;
  margin: 25px;
  border-radius: 50%;
  
}
/* styling the nav container*/
nav {
  display: grid;
  font-family: cursive;
  background-color: #f4d58d;
  text-align:center;
  font-size:20px;
  border-radius: 50%;
  border: 4px groove #000000;
}
/* styling horizontal rule and creating an effect for it*/
hr {
  border: 3px dashed #f4d58d;
}
hr:hover {
  transform:scale(2);
}
a:link {
  color:#001427;
}
a:visited {
  color:#bf0603;
}
a:hover {
  color: #000000;
}
a:active {
  color: #ffffff;
}
/*styling the class that is assigned to the image of myself*/
.headshot {
margin: auto;
padding: auto;
border:10px inset #bf0603;
}
hgroup {
  font-family:fantasy;
}
li {
  list-style-position:inside;
}
